<div class="flex bg-slate-400 justify-center items-center py-7">
  <form class="grid grid-cols-1 sm:grid-cols-2 gap-2 h-full w-3/4">
    <div class="grid grid-cols-1 sm:grid-cols-2 h-full gap-2">
      <div class="flex justify-start sm:justify-end">
        <select name="" id="" class="w-full sm:w-1/4 px-2 py-1 rounded">
          <option value="">1</option>
          <option value="">2</option>
        </select>
      </div>

      <input
        type="text"
        placeholder="Agregar Descripción"
        class="w-full px-2 py-1 rounded"
      />
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
      <input type="text" placeholder="Valor" class="px-2 py-1 rounded" />
      <button class="bg-green-200 border rounded px-3 py-1">Agregar</button>
    </div>
  </form>
</div>
