<div class="grid py-10 bg-white">
  <div class="grid grid-cols-1 sm:grid-cols-2 px-10 h-min">
    <!-- Ingresos -->
    <div class="bg-slate-400">
      <h1>INGRESOS</h1>
      <!-- TODO: Aca va un map -->
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <span>Salario</span>
        <span>+2,100</span>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <span>Venta de coche</span>
        <span>+1,500</span>
      </div>
    </div>

    <!-- Egresos -->
    <div class="bg-orange-300">
      <h1>EGRESOS</h1>
      <!-- TODO: Aca va un map -->
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <span>Salario</span>
        <span>+2,100</span>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <span>Venta de coche</span>
        <span>+1,500</span>
      </div>
    </div>
  </div>
</div>
